{% extends 'base.html.twig' %}

{% block title %}Meu Blog Symfony | Lista dos articlos {% endblock %}

{% block body %}

<h1 class="display-4 text center my-4">Futebol ! Ele acompagna nossa vida, e nos convida a ser uma paixao ! </h1>


<div class="row">

    {# La boucle FOR permet de passer en revue les articles selectionnés en BDD et envoyés par le controller #}
    {#  data est une variable de éception qui receptionne un article par tour de boucle #}
    {#  Nous pouvons nommer cette variable comme nous le souhaitons #}
    {#  articles est une variable TWIG qui provient du controller #}
    {% for data in articles %}

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            {#  On pioche dans data avec le point '.' afin d'afficher l'image, le titre, le contenu etc.. #}
            <img src="{{ data.image }}" alt="">
            <div class="card-body">
                <h5 class="text-center">{{ data.title }}</h5>
                <p class="card-text">{{ data.content|raw|slice(3,10) }}</p>
                {#  raw est un filtre TWIG permettant d'échapper les balise HTML #}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href=" {{ path('blog_show', {'id': data.id } ) }} " class="btn btn-dark">Voir plus</a>
                    </div>
                    <small class="text-muted">{{ data.createdAt|date('d/m/Y') }} à {{ data.createdAt|date('H:i:s') }}</small>
                    {# data.createdAt renvoi un objet datetime que nous ne pouvons pas convertir en chaine de caractère #}
                    {#  date() est un filtre TWIG permettant d'afficher la date et l'heure #}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>


{% endblock %}