{% extends "base.html.twig" %}

{% block title %}BACK OFFICE | Création d'un nouvel article{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">
    BACK OFFICE | 
    
    {% if editMode %}  <!-- Si on a editMode (donc un ID dans l'URL) -->
    
        Modification de la article

    {% else %}

        Création d'une article

    {% endif %}
    
    <small><a href="{{ path('admin_articles') }} " class="btn btn-dark">Retour</a></small></h1>

    {{ form_start(formArticle, {'attr': {'class': 'col-md-5 mx-auto'}}) }} 

        {{ form_row(formArticle.title, {'label': "Titre de l'article"}) }}

        {{ form_row(formArticle.category, {'label': "Categorie"}) }}

        {{ form_row(formArticle.content,  {'label': "Contenu de l'article", 'attr': {"rows": 15}}) }}

        {{ form_row(formArticle.image) }}

    <button type="submit" class="btn btn-dark">
            
            {% if editMode %}  <!-- Si on a editMode (donc un ID dans l'URL) -->
            
                Modifier l'Article
    
            {% else %}
    
                Enregistrer l'Article
    
            {% endif %}
            </button>

    {{ form_end(formArticle) }} 


    
{% endblock %}