{% extends "base.html.twig" %}

{% block title %} BACK OFFICE | Gestion des articles{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">BACK OFFICE | Gestion des articles <small><a href=" {{ path('admin_new_article') }} " class="btn btn-dark btn.sm">Nouveau Article</a></small></h1>

    <div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 mb-3">
        {{ message }}
    </div>


    <table class="table table-striped table bordered table-dark table-hover text-center">

        <tr>
            
            {% for data in colonnes %}

                {% if data == 'createdAt' %}

                    <th>DATE</th>

                {% else %}

                    {#  upper : filtre TWIG afin d'afficher le nom des colonnes en majuscule #}
                    <th>{{ data|upper }}</th>

                {% endif %}

            {% endfor %} 

            <th>CATEGORIES</th>
            <th>EDITER</th>
            <th>SUPPRIMER</th>

        </tr>

        {% for data in articles %}

        <tr>
            <td class="align-middle"> {{ data.id }} </td>
            <td class="align-middle"> {{ data.title }} </td>
            <td class="align-middle"> {{ data.content|striptags }} </td>
            <td class="align-middle"> {{ data.createdAt|date('d/m/Y à H:i:s') }} </td>
            <td class="align-middle"> <img src="{{ data.image }}" alt=" {{ data.title }}" style="width:150px"></td>
            <td class="align-middle"> {{ data.category.title }}</td>

            <td class="align-middle"><a href=" {{ path('admin_edit_article', {'id': data.id}) }} " class="btn btn-dark text-white"><i class="fas fa-edit fa-1x"></i></a></td>
            <td class="align-middle"><a href=" {{ path('admin_delete_article', {'id': data.id}) }} " class="btn btn-danger text-white" onclick="return(confirm('Voulez vous vraiment supprimer cet article ?'))"><i class="fas fa-trash fa-1x"></i></a></td>
        </tr>
            
        {% endfor %}

    </table>

{% endblock body %}
