{% extends "base.html.twig" %}

{% block title %}BACK OFFICE | Gestion des Commentaires {% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4"> BACK OFFICE | Gestion des Commentaires </h1>

{% for message in app.flashes('success') %}
        
    <div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 mb-3">
        {{ message }}
    </div>
    
    {% endfor %}


<table class="table table-bordered table-striped table-dark text-center">
            
    <tr>
        {% for data in colonnes %}
            
            <th>{{ data }}</th>

        {% endfor %}

        <th>NB Commentaires</th>
        <th>Titre</th>
        <th>EDITER</th>
        <th>SUPPRIMER</th>

    </tr>

    {% for data in comments %}

    <tr>
        <td class="align-middle">{{ data.id }}</td>
        <td class="align-middle">{{ data.author }}</td>
        <td class="align-middle">{{ data.content }}</td>
        <td class="align-middle">{{ data.createdAt|date('d/m/Y') }} à {{ data.createdAt|date('H:i:s') }}</td>
        <td class="align-middle">{{ data|length }}</td>
        <td class="align-middle">{{ data.article.title }}</td>

        <td class="align-middle" ><a href="{{ path('admin_edit_comment', {'id': data.id }) }}" class="btn btn-success text-white"><i class="fas fa-edit fa-1x"></i></a></td>
        <td class="align-middle"><a href="{{ path('admin_delete_comment', {'id': data.id }) }}" class="btn btn-danger text-white" onclick="return(confirm('Voulez vous vraiment supprimer ce commentaire ?'))"><i class="fas fa-trash fa-1x"></i></a></td>
    </tr>
        
    {% endfor %} 

</table>
    
{% endblock %}