{% extends "base.html.twig" %}

{% block title %}BACK OFFICE | Modifications des Membres {% endblock %}

{% block body %}

    <div class="container">

        <h1 class="display-4 text-center my-4">BACK OFFICE | Modifications des Membres</h1>

        {{ form_start(formUser, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

            {{ form_row(formUser.username, {'label': "Nom d'utilisateur"}) }}

            {{ form_row(formUser.email) }}

            {{ form_row(formUser.roles, {'label': false}) }} 
            <!-- on met label false car sinon le label se multiplie par 2 a cause du fait que roles soit de type json -->

            <button type="submit" class="btn btn-dark">Modifier</button>

        {{ form_end(formUser) }}

    </div>

{% endblock %}
